{% extends 'base.html.twig' %}

{% block title %}

    Hi {{ app.user.firsName }}

{% endblock %}

{% block body %}
    {% include 'navbar.html.twig' %}

    <div class="container">
        <h1 style="font-family: 'DejaVu Sans'">Welcome Back {{ app.user.firsName }}!</h1><br>

        <h3> Latest published ads</h3>
        <table class="table table-hover">
            <tr class="table-warning">
                <th></th>
                <th>Title / date of publication</th>
                <th>Description</th>
                <th>Product category</th>
                <th>Product location</th>

                <th> Delete / Update</th>

            </tr>
            {% for ad in ads %}
                <tr class="table-light">
                    <td><img src="{{ asset('uploads/images/'~ad.image) }}" width="80%"/></td>
                    <td>  {{ ad.title }}<br>
                        {{ ad.dateOfPublishing |date('d-m-y') }}</td>

                    <td>{{ ad.description }}</td>

                    <td>{{ ad.category }}</td>
                    <td>{{ ad.locale }}</td>
                    {% if app.user.id == ad.user.id %}
                        <td>
                            <a onclick="return confirm('are you sure?');" type="button"
                               class="btn btn-outline-danger" href="{{ url("ad.delete", {"ad":ad.id}) }}">Delete
                            </a>
                        </td>
                        <td>
                            <a type="submit"
                               class="btn btn-outline-warning" href="{{ url("ad.update", {"ad":ad.id}) }}">Edit
                            </a>
                            <a></a> {#">See product</a>#}

                        </td>
                    {% else %}
                        <td>This ad belongs to someone else...</td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No content available</td>
                </tr>
            {% endfor %}
        </table>
    </div>


{% endblock %}
