{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    {% include 'navbar.html.twig' %}
    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.firsName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}

        {{ form_end(form) }}

    </div>



{% endblock %}